@font-face{
    font-family:"light";
    src: url(Pro-Line/Roboto-Light.ttf);
}
@font-face{
    font-family:"regular";
    src: url(Pro-Line/Roboto-Regular.ttf);
}
@font-face{
    font-family:"bold";
    src: url(Pro-Line/Roboto-Bold.ttf);
}
h1{
    font-family: light;
    font-size: 50px;
    color: hsla(0, 0%, 0%, 0.8);
    margin: 30px 0;
}

h2{
    font-family: light;
    font-size: 30px;
    color: hsla(0, 0%, 0%, 0.8);
}

h3{
    font-family: regular;
    font-size: 15px;
    color: rgb(15, 144, 230);
}

p,span{
    font-family: light;
    font-size: 15px;
    color: hsla(0, 0%, 0%, 0.8);
}
.video h1,.video span{
    color: white;
}

.log{
    display: flex;
    justify-content: center;
    align-items: center;  
}

nav{
    font-family: regular;
    font-size: 15px;
    display: flex;
    justify-content:space-around;
    border-top: solid 1px rgba(0, 0, 0, 0.25);
    border-bottom:solid 1px rgba(0, 0, 0, 0.25);
    }
a:link{
    color: hsla(0, 0%, 0%, 0.8);
    text-decoration: none;
    padding: 15px 20px;
    cursor: pointer;
  }
a:visited{
    color: hsla(0, 0%, 0%, 0.8);
    text-decoration: none;
  }
 
a:hover {
    color: rgb(15, 144, 230);
    background-color: rgba(53, 52, 52, 0.150);
 }
video{
    width: 100%;
    margin:10px 0px;
    position: relative;
}

.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.video div{
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;   
}

.features div img{
    width: 60px;
    padding: 10px;
}

.features{
    display: flex;
    justify-content:space-between;
    color: hsla(0, 0%, 0%, 0.8);
    margin: 40px 0px;
}

.features p {
    font-family: light;
}

.cart{
    display: flex;
    align-items: center;
}

.features div:not(.cart){
    width: 45%;
    text-align: justify;
    font-family: solid;
}

.activities {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:40px 0px;
}

.activities h1{
    position: absolute;
    z-index: 2;
    color: white;
}

.foto{
    background-image: url('Pro-Line/img-activities.jpg');
    width: 100%;
    height: 20vh;
}

.active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0px;
}

.active_cart{
    width:47%;
    border: solid 1px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-family: regular;
}

.active_cart div{
    padding-right: 30px;
}

.active_cart img{
    padding: 15px;  
}

.our_company{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin: 40px 0px;
    gap: 10px;
    font-family: regular;
}

.our_company img{
    width:30vw;
}

.our{
    width: 33%;
   display: flex;
   flex-direction: column;
   position: relative;  
}

.our button{
   height: 40px;
   width:150px;
   background-color: white;
   color: rgba(0, 0, 0, 0.8);
   border: solid 1px rgba(0, 0, 0, 0.25);
   position: relative;
   left:100% ;
   transform: translate(-150px,0);
   cursor: pointer;
   padding: 0;
}

.comp{
    width: 25%;
    border: solid 1px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.comp button{
    width: 50%;
    height:40px;
    background-color: white;
    color: hsla(0, 0%, 0%, 0.8);
    border: none;
    cursor: pointer;
 }

.comp button:focus{
    background-color: rgba(53, 52, 52, 0.150);
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.comp div{
    padding:0 30px;
}

.contacts{
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
    gap:20px;
}

.form{
    flex-basis: 40vw;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: start;
    gap:12px;
}

.back{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:50vw;
    justify-content: space-between;
}

.back img{
    width:50vw;
}

.form input{
    width:65%;
    height:5%;
    font-family: light;
    border: solid 1px rgba(0, 0, 0, 0.25);
}

.form textarea{
    width:65%;
    height:20%;
    font-family: light;
    border: solid 1px rgba(0, 0, 0, 0.25);
}

.form button{
    height: 40px;
    width:150px;
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    border: solid 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

footer {
    height: 127.19px;
    display: flex;
    align-items: flex-end; 
}
    
@media (min-width:319px) and (max-width:550px){
    h1{
        font-family: light;
        font-size: 20px;
    }
    p,span{
        font-family: light;
        font-size: 12px;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        }
    .features{
        display: flex;
        flex-direction: column;  
        margin: 0;
    }
    .features div img{
        width:40px;
        padding:0;
    }
    .features div:not(.cart) {
        margin: 0px;
        width:98%;
        text-align: center;
    }
    .cart{
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .foto{
        background-image: url('img-activities.jpg');
        width: 98%;
    }
    .active {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .active_cart{
        width:98%;
    }
    .active_cart div{
        padding-right: 15px;
    }
    .active_cart img{
        padding: 10px;  
    }
    .contacts{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        gap:20px;
    }
    .form{
        width: 80vw;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        gap:10px;
        flex-direction: row;
    }
    .back span{
        position: absolute;
        color: white;
        background-color: rgba(0, 0, 0, 0.25);
        margin: 0 5px;
        width: 70%;
    }
    .back{
        width:98%;   
        align-items: center;
    }
    .back img{
        width:100%;
    }
    .our_company{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin: 0;
    gap: 10px;
    font-family: regular;
    flex-direction: column;
    width:100%;
    }    
    .our_company img{
        width:93vw;
        }   
    .our{
        width: 90%;
        display: flex;
        flex-direction: column;
        position: absolute;  
        background-color: rgba(255, 255, 255, 0.404);
        margin: 0;
        padding-left:10px;
        }
    .comp{
        width: 70vw;
        border: solid 1px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;   
        margin: 20px 0;
        margin-left: 12.5vw;
        }
    h2{
        font-family: light;
        font-size: 19px;
    }
    h3,nav{
        font-family: regular;
        font-size: 10px;
    }
    .active_cart img{
        width:40%;
    }
    a:link{
        color: hsla(0, 0%, 0%, 0.8);
        text-decoration: none;
        padding: 10px 15px;
    }
    body{
        margin:0;
    }
}

@media (min-width:551px) and (max-width:1419px){
    h1{
        font-family: light;
        font-size: 40px;
    }
    h2{
        font-family: light;
        font-size: 20px;
    }
    h3,nav{
        font-family: regular;
        font-size: 15px;
    }
    p,span{
        font-family: light;
        font-size: 15px;
    }
    .features div img{
        width: 40px;
        padding: 10px;
    }
    .active_cart img{
        width:40%;
    }
    }

@media (min-width:1282px) and (max-width:1549px){
    .main:not(.active){
        margin: 0 15vw;
    }
}
@media (min-width:1551px){
    .main:not(.active){
        margin: 0 20vw;
    }
    .back{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        width:50%;
        justify-content: space-between;
    }
    .back img{
        width:25vw;
    }
    .our_company img{
        width:20vw;
    }
}
